Date : 13/12/2023

## TF-IDF Vectorization

<img src="1 V9ac4hLVyms79jl65Ym_Bw.png" alt="TF-TDF">

1. TF stands for **"Term frequency"** and IDF stands for **"Inverse document frequency"**
2. The higher the **value of the TF-IDF** score, the rare the word and **higher is the importance** of the word

### Imports

In [1]:
### -------------------
### Importing libraries
### -------------------

import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer

### Input data

In [2]:
### ----------
### input data
### ----------

sentence_1="The quick brown fox jumps on the lazy dogs."

sentence_2="The cat chases the mouse and it squeaks loudly."

In [6]:
# Initializing the TF-IDF vectorizer

Tfidf = TfidfVectorizer(stop_words = 'english')

In [7]:
x_vect = Tfidf.fit_transform([sentence_1, sentence_2])

In [8]:
# Converting the vector into DataFrame

df = pd.DataFrame(x_vect.toarray(),
                  columns = Tfidf.get_feature_names_out()
                 )

# Printing the DataFrame

df

,brown,cat,chases,dogs,fox,jumps,lazy,loudly,mouse,quick,squeaks
0,0.408248,0.000000,0.000000,0.408248,0.408248,0.408248,0.408248,0.000000,0.000000,0.408248,0.000000
1,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.000000,0.447214,0.447214,0.000000,0.447214