Date : 13/12/2023

## Bag of Words

<img src="1 3K9GIOVLNu0cRvQap_KaRg.png" alt="Bag of words">

1. Bag of Words
2. n-grams
3. TF_IDF vector
4. TF-TDF Transposition
5. Count vector

### Imports

In [1]:
### -------------------
### Importing libraries
### -------------------
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

from nltk.tokenize import word_tokenize

from sklearn.feature_extraction.text import CountVectorizer

### Input data

In [2]:
### ----------
### input data
### ----------

sent_1 = "The quick brown fox jumps over the lazy dog"

sent_2 = "The Cat chases the mouse and it squeaks loudly"

In [3]:
sent1_lower=sent_1.lower()
tokens1=word_tokenize(sent1_lower)
tokens1

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [4]:
dict1={}
for i in tokens1:
    dict1[i] = tokens1.count(i)

In [5]:
sent2_lower=sent_2.lower()
tokens2=word_tokenize(sent2_lower)
tokens2

['the', 'cat', 'chases', 'the', 'mouse', 'and', 'it', 'squeaks', 'loudly']

In [6]:
dict2={}
for i in tokens2:
    dict2[i] = tokens2.count(i)

In [7]:
series1=pd.Series(dict1)

series2=pd.Series(dict2)

In [8]:
# Converting to the DataFrame form

final=pd.concat([series1,series2],axis=1,ignore_index=True)

final.fillna(0,inplace=True)

final.T

,the,quick,brown,fox,jumps,over,lazy,dog,cat,chases,mouse,and,it,squeaks,loudly
0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0


## Bag of Words using Library function

In [9]:
# Initializing the Count Vectorizer

cv = CountVectorizer()

In [10]:
# Fitting the model data to the data

vect_data = cv.fit_transform([sent_1, sent_2])

vect_data

<2x15 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [11]:
# Printing the vector of the data

sentence = vect_data.toarray()

In [12]:
# Printing the feature names, saved in the CountVectorizer()

words = cv.get_feature_names_out()

In [13]:
# Converting the data into the dataframe

Bag_of_word = pd.DataFrame({'Sentence 1' : sentence[0],
                             'Sentence 2' : sentence[1]},
                            index=words
                            )

Bag_of_word

         Sentence 1  Sentence 2
and               0           1
brown             1           0
cat               0           1
chases            0           1
dog               1           0
fox               1           0
it                0           1
jumps             1           0
lazy              1           0
loudly            0           1
mouse             0           1
over              1           0
quick             1           0
squeaks           0           1
the               2           2

## Bag of words for 3 sentences

In [14]:
sent_3 = "The lazy cat jumps over the quick dog"

In [15]:
# As CountVectorizer is already trained, we are performing .transform method

vect_data_2 = cv.transform([sent_3]).toarray()

vect_data_2

array([[0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 2]])

## Bag of words on the India.txt

In [32]:
# Retrieving the data from the text file

with open ('india.txt','r') as fh:
    
    data = fh.readlines()

print(len(data))

4

In [18]:
# Iniitalizing the CountVectorizer

cv_india = CountVectorizer()

In [29]:
# vectorizing the data

vect_data_india = cv_india.fit_transform(data)

# Extracting the features names

word = cv_india.get_feature_names_out()

In [27]:
# Creating the DataFrame from the bag of words

BOG_df = pd.DataFrame(vect_data_india.toarray(),
                     columns = cv_india.get_feature_names_out())

BOG_df

,1947,2023,and,andaman,arabian,area,as,asia,bangladesh,bay,...,southwest,sri,thailand,the,time,to,vicinity,west,with,world
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,1,1,0,0,1,1,0,0,0,...,0,0,0,4,1,0,0,0,0,1
2,0,0,4,0,1,0,0,0,1,1,...,1,0,0,9,0,3,0,1,1,0
3,0,0,3,1,0,0,0,0,0,0,...,0,1,1,3,0,0,1,0,1,0