Date : 13/12/2023

## N-Grams

### Imports

In [11]:
### -------------------
### Importing libraries
### -------------------
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer

### Global variables

### Input data

In [2]:
### ----------
### input data
### ----------

sentence_1="The quick brown fox jumps on the lazy dogs."

sentence_2="The cat chases the mouse and it squeaks loudly."

In [8]:
cv=CountVectorizer(ngram_range=(1,2))

In [13]:
x_vect=cv.fit_transform([sentence_1,sentence_2])
x_vect

<2x31 sparse matrix of type '<class 'numpy.int64'>'
	with 32 stored elements in Compressed Sparse Row format>

In [10]:
cv.get_feature_names_out()

array(['and', 'and it', 'brown', 'brown fox', 'cat', 'cat chases',
       'chases', 'chases the', 'dogs', 'fox', 'fox jumps', 'it',
       'it squeaks', 'jumps', 'jumps on', 'lazy', 'lazy dogs', 'loudly',
       'mouse', 'mouse and', 'on', 'on the', 'quick', 'quick brown',
       'squeaks', 'squeaks loudly', 'the', 'the cat', 'the lazy',
       'the mouse', 'the quick'], dtype=object)

In [15]:
df=pd.DataFrame(x_vect.toarray(),
               columns=cv.get_feature_names_out())

In [16]:
df

,and,and it,brown,brown fox,cat,cat chases,chases,chases the,dogs,fox,...,on the,quick,quick brown,squeaks,squeaks loudly,the,the cat,the lazy,the mouse,the quick
0,0,0,1,1,0,0,0,0,1,1,...,1,1,1,0,0,2,0,1,0,1
1,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,2,1,0,1,0