Date : 14/12/2023

## Text Clustering

<img src="applsci-13-00342-g001.webp" alt="text_clustering">

### Imports

In [1]:
# !pip install kneed

In [18]:
### -------------------
### Importing libraries
### -------------------

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score


from kneed import KneeLocator

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import FreqDist

import string

from scipy.cluster.hierarchy import linkage

## Input data

Dataset : bbc-news-data.txt

location : https://mitu.co.in/dataset

In [3]:
### ----------
### input data
### ----------



with open ('bbc-text-data.csv', 'r') as fh:
    
    data = fh.readlines()


    
print(len(data))

2225

In [4]:
# Initializing the TfidfVectorizer

tfidf = TfidfVectorizer(stop_words = 'english')

In [5]:
# Tranforming the data

x_vect = tfidf.fit_transform(data)



x_vect.shape

(2225, 29126)

In [6]:
# # clustering the data 

# sse = []

# for i in range(1,15):
    
#     agm_clust = AgglomerativeClustering(n_clusters = i)
    
#     agm_clust.fit_predict(x_vect.toarray())
    
#     if i>1:
        
#         score = silhouette_score(x_vect, agm_clust.labels_)

#         sse.append(score)

# Build the model

In [8]:
agm_clust = AgglomerativeClustering(n_clusters=5)

In [10]:
labels = agm_clust.fit_predict(x_vect.toarray())

In [11]:
labels

array([4, 0, 0, ..., 0, 0, 0])

In [13]:
agm_clust.labels_

array([4, 0, 0, ..., 0, 0, 0])

In [14]:
len(labels)

2225

In [15]:
df=pd.DataFrame(data,columns=["text"])
df

                                                   text
0     tv future in the hands of viewers with home th...
1     worldcom boss  left books alone  former worldc...
2     tigers wary of farrell  gamble  leicester say ...
3     yeading face newcastle in fa cup premiership s...
4     ocean s twelve raids box office ocean s twelve...
...                                                 ...
2220  cars pull down us retail figures us retail sal...
2221  kilroy unveils immigration policy ex-chatshow ...
2222  rem announce new glasgow concert us band rem h...
2223  how political squabbles snowball it s become c...
2224  souness delight at euro progress boss graeme s...

[2225 rows x 1 columns]

In [16]:
print('0:',len(df[labels==0]))
print('1:',len(df[labels==1]))
print('2:',len(df[labels==2]))
print('3:',len(df[labels==3]))
print('4:',len(df[labels==4]))

0: 1121
1: 225
2: 365
3: 146
4: 368

## Build model

In [19]:
km = AgglomerativeClustering(n_clusters=5)

In [20]:
labels = km.fit_predict(x_vect.toarray())

In [22]:
pd.Series(labels).value_counts().to_dict()

{0: 1121, 4: 368, 2: 365, 1: 225, 3: 146}

In [23]:
df = pd.DataFrame(data, columns=['text'])

In [24]:
print('0:',len(df[labels==0]))
print('1:',len(df[labels==1]))
print('2:',len(df[labels==2]))
print('3:',len(df[labels==3]))
print('4:',len(df[labels==4]))

0: 1121
1: 225
2: 365
3: 146
4: 368